* {
  box-sizing: border-box;
}

html {
	
}

body {
	
}

a {
	
}

a:hover {
	
}

.app-intro {
	height: 200px;


}

.google-map {
	border: 0px;
	outline-style: none;

}

#container {
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.row .google-map-div {
	padding-left: 0rem;


}

.row .list-content-div {
	padding-right: 0rem;
	padding-top: 0rem;
}

.item-card {

}






	